.idea
.git
*.class
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*
.gradle
/build/
gradlew
gradlew.bat
**/build/tmp/*
**/build/jar/*
**/build/resources/*
**/build/classes/*
**/publications
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache